.congrat{
    font-size: 6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    text-align: center;
    margin-top: 1em;
}
.food{
    text-align: center;
    font-size: 4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}